PORT = 3000

MONGO_URL = 'mongodb://localhost:27017/'
REDIS_URL = 'redis://localhost:6379/'

# MONGO_URL = 'mongodb://mongo:27017/'
# REDIS_URL = 'redis://redis:6379/'

LOG_LEVEL = 'debug'

JWT_ACCESSTOKEN_KEY = 'accesstoken'
JWT_REFRESHTOKEN_KEY = 'refreshtoken'